fuzzywuzzy
googletrans
inflect
openai
playsound
pvporcupine
pvrecorder
PyAudio
pynput
Requests
sounddevice
torch
vosk
wikipedia
--upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
